<form class="d-inline-block" method="post" action="{{ path('app_niveauvisibilite_delete', {'id': niveau_visibilite.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ niveau_visibilite.id) }}">
    <button class="btn btn-danger btn-xs text-red "><i class="fa fa-trash"></i></button>
</form>
