{% extends 'base.html.twig' %}

{% block title %}New Periodicite{% endblock %}

{% block body %}
    <h1>Enregistrer une Periodicite</h1>

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger"  style=" color: #B0413E" >
            {{ message }}
        </div>
    {% endfor %}

    {{ include('periodicite/_form.html.twig') }}

    <a href="{{ path('app_periodicite_index') }}">Retour à la liste</a>
{% endblock %}
