<form method="post" action="{{ path('app_devise_delete', {'id': devise.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ devise.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
