{% extends 'base.html.twig' %}

{% block title %} Fonction{% endblock %}

{% block body %}
<div class="container">
    <h1>Créer une fonction</h1>

    {{ include('fonction/_form.html.twig') }}

    <a href="{{ path('app_fonction_index') }}">Retour à la liste</a>
</div>
{% endblock %}
