{% extends 'base.html.twig' %}

{% block title %}New Rapport{% endblock %}

{% block body %}
    <h1>Enregistrer un Rapport</h1>

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger"  style=" color: #B0413E" >
            {{ message }}
        </div>
    {% endfor %}

    {{ include('rapport/_form.html.twig') }}

    <a href="{{ path('app_rapport_index') }}">Retour à la liste</a>
{% endblock %}
