{% extends 'base.html.twig' %}

{% block title %}Role{% endblock %}

{% block body %}
    <h1>Enregistrer un Role</h1>

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger"  style="background-color: #B0413E; color: #dbeafe" >
            {{ message }}
        </div>
    {% endfor %}

    {{ include('role/_form.html.twig') }}

    <a href="{{ path('app_role_index') }}">Retour à la liste</a>
{% endblock %}
