{% extends 'base.html.twig' %}

{% block title %}Edit Annee{% endblock %}

{% block body %}
    <h1>Modifier une  Annee</h1>


    {{ include('annee/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_annee_index') }}">Retour à la liste</a>

    {{ include('annee/_delete_form.html.twig') }}
{% endblock %}
