<form method="post" action="{{ path('app_type_activite_delete', {'id': type_activite.id}) }}" onsubmit="return confirm('Etes-vous sure de vouloir supprimer cet élèment?');">
    <input type="hidden" name="_token" value="{{ csrf_token('Supprimer' ~ type_activite.id) }}">
    <button class="btn">Supprimer</button>
</form>
