{% extends 'base.html.twig' %}

{% block title %}Edit Planifier{% endblock %}

{% block body %}
    <h1>Edit Planifier</h1>

    {{ include('planifier/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_planifier_index') }}">back to list</a>

    {{ include('planifier/_delete_form.html.twig') }}
{% endblock %}
