{% extends 'base.html.twig' %}

{% block title %}Periode{% endblock %}

{% block body %}
<div class="container">
    <h1>Créer une Periode</h1>

    {{ include('periode/_form.html.twig') }}

    <a href="{{ path('app_periode_index') }}">Retour à la liste</a>
</div>
{% endblock %}
