<form method="post" action="{{ path('app_programme_delete', {'id': activite.id}) }}" onsubmit="return confirm('Etes-vous sure de vouloir supprimer ce programme ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('Supprimer' ~ activite.id) }}">
    <button class="btn">Supprimer</button>
</form>
